.search-area{
    padding-bottom: 10px;
}

.search-area-heading{
    /*padding-bottom: 0px;*/
}

.category-list{
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    background-color : #ffb74d;
}

.category-list ul{
    list-style-type: none;
}


.category-item{
    /*border-radius: 20px;*/
    color: black;
    font-size: 12px;
    /*font-weight: 500;*/
    /*background-color: #ffcc80;*/
    /*padding: 8px;*/
}

.category-item:hover{
    text-decoration: underline;
    color: #880000;
    font-weight: bold;
    /*background-color: #727b84;*/
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.category-category-list{
    padding-top: 20px;
    padding-bottom: 10px;
}

.category-category-list h3{
    margin-bottom: 50px;
}

.category-category-list ul{
    list-style-type: none;
}

.category-category-list ul li{
    margin-bottom: 10px;
}

.category-category-item{
    border-radius: 20px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    padding: 8px;
}

.category-category-item:hover{
    text-decoration: none;
    color: #fff;
    background-color: #727b84;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.vacancy-list {
    padding: 10px 50px 50px;
}

.vacancy-row:hover{
    cursor: pointer;
}

#vacancy-table th{
    font-size:small;
    color: #fff;
    background-color: #155724;
}

#vacancy-table td{
    padding: 3px;
    font-size:small;
}

.btn-vacancy-more:hover{
    cursor: pointer;
}

footer{
    margin-top: 2%;
}

footer h5{
    color: #ffb74d;
}

footer a{
    font-size: small;
    color: white;
}
footer a:hover{
    color: #ffb74d;
}

.footer-middle{
    padding-top: 2em;
    color: white;
}

.footer-bottom{
    background-color: black;
}

.employer{
    margin-bottom: 15px;
}

.employer-description{
    margin-top: 30px;
    margin-bottom: 50px;
}

.input-xs {
    height: 30px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}