{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row justify-content-center bg-dark" style="padding-bottom: 20px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <label class="text-warning">OrangeHRM Inc. | Engineering | Software Engineer</label>
            </div>
            <div class="col-lg-3 btn-group btn-group">
                <button type="button" class="btn btn-outline-secondary">Previous</button>
                <button type="button" class="btn btn-outline-secondary">Next</button>
            </div>
        </div>
    </div>

    <div class="container">

    </div>


{% endblock %}