{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row justify-content-center bg-dark" style="padding-bottom: 20px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <label class="text-warning">OrangeHRM Inc. | Engineering | Software Engineer</label>
            </div>
            <div class="col-lg-3 btn-group btn-group">
                <button type="button" class="btn btn-outline-secondary">Previous</button>
                <button type="button" class="btn btn-outline-secondary">Next</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-4 col-sm-12 card">
                <h6 class="align-self-center font-weight-bold" style="margin-top: 2%">Apply via Email</h6>
                <form>
                    <div class="form-group">
                        <label for="applicant_name">Your Name</label>
                        <input id="applicant_name" class="form-control form-control-sm" type="text" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label for="applicant_email">Your Email</label>
                        <input type="email" class="form-control form-control-sm" id="applicant_email" aria-describedby="applicant_email_help" placeholder="example@example.com">
                        <small id="applicant_email_help" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="applicant_email_subject">Subject</label>
                        <input type="text" class="form-control form-control-sm" id="applicant_email_subject" placeholder="Subject" readonly>
                    </div>
                    <div class="form-group">
                        <label for="applicant_email_message">Email message</label>
                        <textarea class="form-control form-control-sm" id="applicant_email_message" rows="3"></textarea>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleFormControlFile1">Attach your CV</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success float-right">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
            <embed class="col-lg-8 col-sm-12" style="height: 500px;" id="vacancy-pdf-viewer" src="{{ asset(resource) }}" type='application/pdf'>
        </div>
    </div>


{% endblock %}



